/*
 * Breakpoint / Media Query Helper
 *
 * This mixin helps to create media queries based on a given query parameter.
 * Various syntaxes may be used for the query paramater.
 *
 * Logic:
 * 1) If the query is a number, assume a min-width media query by default
 * 2) If the query is a list ...
 *    2a) If the first list item is a string, assume a feature/value pair (i.e. max-width 500px)
 *    2b) If both values are numbers, assume a min-width/max-width pair
 * 3) If the query is a map, assume one or more feature/value pairs (i.e. max-width 500px, or min-width 300px and max-width 400px)
 *
 * Examples of Use:
 * @include bp(500px) {...}  =>  min-width: 500px
 * @include bp(min-width 500px) {...}  =>  min-width: 500px
 * @include bp(max-width 500px) {...}  =>  max-width: 500px
 * @include bp(500px 750px) {...}  =>  min-width: 500px, max-width: 750px
 * @include bp((min-width: 500px)) {...}  =>  min-width: 500px
 * @include bp((max-width: 500px)) {...}  =>  max-width: 500px
 * @include bp((min-width: 500px, max-width: 750px)) {...}  =>  max-width: 500px, max-width: 750px
 *
*/
/*
 * Font Conversion Helper
 *
 * This Mixin will conver pixels units to rems.
 *
 */
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 16px; }

body {
  background: url("../img/bg-pattern-wood.png") center center repeat;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.btn {
  position: relative;
  top: 0;
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  background: -webkit-linear-gradient(315deg, #00afeb 0%, #7ad1f7 50%, #00afeb 100%);
  background: linear-gradient(135deg, #00afeb 0%, #7ad1f7 50%, #00afeb 100%);
  border-radius: 15px;
  box-shadow: 0 4px 0 0 #162934;
  color: white;
  cursor: pointer;
  font: normal 18px/30px "Fredoka One", sans-serif;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease;
          transition: all 0.1s ease; }
  .btn:hover {
    top: 2px;
    box-shadow: 0 2px 0 0 #162934; }

.btn-faux {
  background: -webkit-linear-gradient(315deg, #b8bac6 0%, #dbdce2 50%, #b8bac6 100%);
  background: linear-gradient(135deg, #b8bac6 0%, #dbdce2 50%, #b8bac6 100%);
  border-radius: 15px;
  box-shadow: 0 4px 0 0 #162934;
  color: white;
  font: normal 18px/30px "Fredoka One", sans-serif;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase; }

.page-wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px; }

.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: white url("../img/bg-pattern-contemporary-china.png") center center repeat; }

.dashboard-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  -webkit-transition: margin 0.25s ease;
          transition: margin 0.25s ease; }

.dashboard-logo {
  width: 210px;
  margin: 0 auto;
  background: url("../img/bg-logo.png") center center no-repeat;
  background-size: contain;
  -webkit-transition: width 0.25s ease;
          transition: width 0.25s ease; }
  .dashboard-logo:after {
    display: block;
    padding-top: 41.2%;
    content: ' '; }

.dashboard-main-controls {
  margin-top: 20px; }
  .dashboard-main-controls .btn {
    display: block;
    max-width: 260px;
    margin: 0 auto 12px auto; }

.dashboard-options-on .dashboard-logo {
  width: 120px; }

@media screen and (min-width: 640px) and (min-height: 480px) {
  .dashboard-logo {
    width: 360px !important; } }
.dashboard-options {
  display: none;
  margin-top: 20px;
  text-align: center; }

.game-config {
  margin-top: 20px; }
  .game-config .label {
    margin-bottom: 5px;
    font: normal 20px/1 "Fredoka One", sans-serif; }
  .game-config ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.game-config-opt-wrapper {
  position: relative;
  height: 36px;
  max-width: 360px;
  margin: 0 auto; }

.game-config-opt {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 42px;
  right: 42px;
  display: none;
  border-radius: 18px;
  font: normal 18px/36px "Fredoka One", sans-serif; }
  .game-config-opt.selected {
    display: block; }

.game-config-ctrl {
  position: absolute;
  top: 0;
  display: block;
  height: 36px;
  width: 36px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px; }
  .game-config-ctrl:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 0;
    width: 0;
    border-style: solid;
    content: ' '; }

.game-config-ctrl-prev {
  left: 0; }
  .game-config-ctrl-prev:before {
    margin: -8px 0 0 -8px;
    border-width: 8px 13.9px 8px 0;
    border-color: transparent white transparent transparent; }

.game-config-ctrl-next {
  right: 0; }
  .game-config-ctrl-next:before {
    margin: -8px 0 0 -5px;
    border-width: 8px 0 8px 13.9px;
    border-color: transparent transparent transparent white; }

.btn-options-close {
  margin-top: 20px; }

.dashboard-stats {
  display: none;
  font-family: "Fredoka One", sans-serif;
  line-height: 1;
  text-align: center; }
  .dashboard-stats .title {
    margin: 20px 0 15px 0;
    font-size: 30px;
    text-transform: uppercase; }
  .dashboard-stats td {
    padding: 3px 6px;
    font-size: 16px;
    text-align: left; }

.btn-stats-close {
  margin-top: 20px; }

.card-grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  margin: auto;
  overflow: hidden; }

.card-wrapper {
  float: left;
  -webkit-perspective: 1000;
          perspective: 1000; }

.card-padding {
  height: 100%;
  padding: 5.5555555556%; }

.card {
  position: relative;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease 1s;
          transition: transform 0.6s ease-in-out, opacity 0.6s ease 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .card.revealed {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .card.matched {
    opacity: 0.25; }

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px; }

.card-back {
  padding: 5.5555555556%;
  background: white;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 2; }
  .card-back .pattern {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: ' '; }

.card-front {
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

body[data-difficulty="lvl1"] .card-grid {
  max-height: 104.1666666667vw;
  max-width: 96vh; }
body[data-difficulty="lvl1"] .card-wrapper {
  height: 33.3333333333%;
  width: 25%; }

body[data-difficulty="lvl2"] .card-grid {
  max-height: 111.1111111111vw;
  max-width: 90vh; }
body[data-difficulty="lvl2"] .card-wrapper {
  height: 25%;
  width: 20%; }

body[data-difficulty="lvl3"] .card-grid {
  max-height: 138.8888888889vw;
  max-width: 72vh; }
body[data-difficulty="lvl3"] .card-wrapper {
  height: 16.6666666667%;
  width: 16.6666666667%; }

body[data-card-style="poker"] .card-back .pattern {
  background-image: url("../img/bg-card-back-poker.png"); }

body[data-card-style="arcade"] .card-back .pattern {
  background-image: url("../img/bg-card-back-arcade.jpg"); }

body[data-card-style="comic"] .card-back .pattern {
  background-image: url("../img/bg-card-back-comic.jpg"); }

.card-face-J .card-front {
  background-image: url("../img/card-face-poker/joker.svg"); }

.card-face-CA .card-front {
  background-image: url("../img/card-face-poker/club-ace.svg"); }

.card-face-C2 .card-front {
  background-image: url("../img/card-face-poker/club-2.svg"); }

.card-face-C3 .card-front {
  background-image: url("../img/card-face-poker/club-3.svg"); }

.card-face-C4 .card-front {
  background-image: url("../img/card-face-poker/club-4.svg"); }

.card-face-C5 .card-front {
  background-image: url("../img/card-face-poker/club-5.svg"); }

.card-face-C6 .card-front {
  background-image: url("../img/card-face-poker/club-6.svg"); }

.card-face-C7 .card-front {
  background-image: url("../img/card-face-poker/club-7.svg"); }

.card-face-C8 .card-front {
  background-image: url("../img/card-face-poker/club-8.svg"); }

.card-face-C9 .card-front {
  background-image: url("../img/card-face-poker/club-9.svg"); }

.card-face-C10 .card-front {
  background-image: url("../img/card-face-poker/club-10.svg"); }

.card-face-CJ .card-front {
  background-image: url("../img/card-face-poker/club-jack.svg"); }

.card-face-CQ .card-front {
  background-image: url("../img/card-face-poker/club-queen.svg"); }

.card-face-CK .card-front {
  background-image: url("../img/card-face-poker/club-king.svg"); }

.card-face-DA .card-front {
  background-image: url("../img/card-face-poker/diamond-ace.svg"); }

.card-face-D2 .card-front {
  background-image: url("../img/card-face-poker/diamond-2.svg"); }

.card-face-D3 .card-front {
  background-image: url("../img/card-face-poker/diamond-3.svg"); }

.card-face-D4 .card-front {
  background-image: url("../img/card-face-poker/diamond-4.svg"); }

.card-face-D5 .card-front {
  background-image: url("../img/card-face-poker/diamond-5.svg"); }

.card-face-D6 .card-front {
  background-image: url("../img/card-face-poker/diamond-6.svg"); }

.card-face-D7 .card-front {
  background-image: url("../img/card-face-poker/diamond-7.svg"); }

.card-face-D8 .card-front {
  background-image: url("../img/card-face-poker/diamond-8.svg"); }

.card-face-D9 .card-front {
  background-image: url("../img/card-face-poker/diamond-9.svg"); }

.card-face-D10 .card-front {
  background-image: url("../img/card-face-poker/diamond-10.svg"); }

.card-face-DJ .card-front {
  background-image: url("../img/card-face-poker/diamond-jack.svg"); }

.card-face-DQ .card-front {
  background-image: url("../img/card-face-poker/diamond-queen.svg"); }

.card-face-DK .card-front {
  background-image: url("../img/card-face-poker/diamond-king.svg"); }

.card-face-HA .card-front {
  background-image: url("../img/card-face-poker/heart-ace.svg"); }

.card-face-H2 .card-front {
  background-image: url("../img/card-face-poker/heart-2.svg"); }

.card-face-H3 .card-front {
  background-image: url("../img/card-face-poker/heart-3.svg"); }

.card-face-H4 .card-front {
  background-image: url("../img/card-face-poker/heart-4.svg"); }

.card-face-H5 .card-front {
  background-image: url("../img/card-face-poker/heart-5.svg"); }

.card-face-H6 .card-front {
  background-image: url("../img/card-face-poker/heart-6.svg"); }

.card-face-H7 .card-front {
  background-image: url("../img/card-face-poker/heart-7.svg"); }

.card-face-H8 .card-front {
  background-image: url("../img/card-face-poker/heart-8.svg"); }

.card-face-H9 .card-front {
  background-image: url("../img/card-face-poker/heart-9.svg"); }

.card-face-H10 .card-front {
  background-image: url("../img/card-face-poker/heart-10.svg"); }

.card-face-HJ .card-front {
  background-image: url("../img/card-face-poker/heart-jack.svg"); }

.card-face-HQ .card-front {
  background-image: url("../img/card-face-poker/heart-queen.svg"); }

.card-face-HK .card-front {
  background-image: url("../img/card-face-poker/heart-king.svg"); }

.card-face-SA .card-front {
  background-image: url("../img/card-face-poker/spade-ace.svg"); }

.card-face-S2 .card-front {
  background-image: url("../img/card-face-poker/spade-2.svg"); }

.card-face-S3 .card-front {
  background-image: url("../img/card-face-poker/spade-3.svg"); }

.card-face-S4 .card-front {
  background-image: url("../img/card-face-poker/spade-4.svg"); }

.card-face-S5 .card-front {
  background-image: url("../img/card-face-poker/spade-5.svg"); }

.card-face-S6 .card-front {
  background-image: url("../img/card-face-poker/spade-6.svg"); }

.card-face-S7 .card-front {
  background-image: url("../img/card-face-poker/spade-7.svg"); }

.card-face-S8 .card-front {
  background-image: url("../img/card-face-poker/spade-8.svg"); }

.card-face-S9 .card-front {
  background-image: url("../img/card-face-poker/spade-9.svg"); }

.card-face-S10 .card-front {
  background-image: url("../img/card-face-poker/spade-10.svg"); }

.card-face-SJ .card-front {
  background-image: url("../img/card-face-poker/spade-jack.svg"); }

.card-face-SQ .card-front {
  background-image: url("../img/card-face-poker/spade-queen.svg"); }

.card-face-SK .card-front {
  background-image: url("../img/card-face-poker/spade-king.svg"); }

.card-face-birdo .card-front {
  background-image: url("../img/card-face-arcade/birdo.jpg"); }

.card-face-blooper .card-front {
  background-image: url("../img/card-face-arcade/blooper.jpg"); }

.card-face-bob-omb .card-front {
  background-image: url("../img/card-face-arcade/bob-omb.jpg"); }

.card-face-boo .card-front {
  background-image: url("../img/card-face-arcade/boo.jpg"); }

.card-face-bowser .card-front {
  background-image: url("../img/card-face-arcade/bowser.jpg"); }

.card-face-buzzy-beetle .card-front {
  background-image: url("../img/card-face-arcade/buzzy-beetle.jpg"); }

.card-face-cheep-cheep .card-front {
  background-image: url("../img/card-face-arcade/cheep-cheep.jpg"); }

.card-face-coin .card-front {
  background-image: url("../img/card-face-arcade/coin.jpg"); }

.card-face-diddy-kong .card-front {
  background-image: url("../img/card-face-arcade/diddy-kong.jpg"); }

.card-face-donkey-kong .card-front {
  background-image: url("../img/card-face-arcade/donkey-kong.jpg"); }

.card-face-fire-flower .card-front {
  background-image: url("../img/card-face-arcade/fire-flower.jpg"); }

.card-face-goomba .card-front {
  background-image: url("../img/card-face-arcade/goomba.jpg"); }

.card-face-hammer-bro .card-front {
  background-image: url("../img/card-face-arcade/hammer-bro.jpg"); }

.card-face-koopa-paratroopa .card-front {
  background-image: url("../img/card-face-arcade/koopa-paratroopa.jpg"); }

.card-face-koopa-troopa .card-front {
  background-image: url("../img/card-face-arcade/koopa-troopa.jpg"); }

.card-face-lakitu .card-front {
  background-image: url("../img/card-face-arcade/lakitu.jpg"); }

.card-face-luigi .card-front {
  background-image: url("../img/card-face-arcade/luigi.jpg"); }

.card-face-mario .card-front {
  background-image: url("../img/card-face-arcade/mario.jpg"); }

.card-face-mushroom .card-front {
  background-image: url("../img/card-face-arcade/mushroom.jpg"); }

.card-face-peach .card-front {
  background-image: url("../img/card-face-arcade/peach.jpg"); }

.card-face-red-shell .card-front {
  background-image: url("../img/card-face-arcade/red-shell.jpg"); }

.card-face-toad .card-front {
  background-image: url("../img/card-face-arcade/toad.jpg"); }

.card-face-wario .card-front {
  background-image: url("../img/card-face-arcade/wario.jpg"); }

.card-face-yoshi .card-front {
  background-image: url("../img/card-face-arcade/yoshi.jpg"); }

.card-face-captain-america .card-front {
  background-image: url("../img/card-face-comic/captain-america.jpg"); }

.card-face-colossus .card-front {
  background-image: url("../img/card-face-comic/colossus.jpg"); }

.card-face-cyclops .card-front {
  background-image: url("../img/card-face-comic/cyclops.jpg"); }

.card-face-deadpool .card-front {
  background-image: url("../img/card-face-comic/deadpool.jpg"); }

.card-face-gambit .card-front {
  background-image: url("../img/card-face-comic/gambit.jpg"); }

.card-face-hulk .card-front {
  background-image: url("../img/card-face-comic/hulk.jpg"); }

.card-face-human-torch .card-front {
  background-image: url("../img/card-face-comic/human-torch.jpg"); }

.card-face-iron-man .card-front {
  background-image: url("../img/card-face-comic/iron-man.jpg"); }

.card-face-juggernaut .card-front {
  background-image: url("../img/card-face-comic/juggernaut.jpg"); }

.card-face-magneto .card-front {
  background-image: url("../img/card-face-comic/magneto.jpg"); }

.card-face-mr-fantastic .card-front {
  background-image: url("../img/card-face-comic/mr-fantastic.jpg"); }

.card-face-nick-fury .card-front {
  background-image: url("../img/card-face-comic/nick-fury.jpg"); }

.card-face-nightcrawler .card-front {
  background-image: url("../img/card-face-comic/nightcrawler.jpg"); }

.card-face-spiderman .card-front {
  background-image: url("../img/card-face-comic/spiderman.jpg"); }

.card-face-storm .card-front {
  background-image: url("../img/card-face-comic/storm.jpg"); }

.card-face-thor .card-front {
  background-image: url("../img/card-face-comic/thor.jpg"); }

.card-face-venom .card-front {
  background-image: url("../img/card-face-comic/venom.jpg"); }

.card-face-wolverine .card-front {
  background-image: url("../img/card-face-comic/wolverine.jpg"); }
