
// ===== FONTS / TYPOGRAPHY
// ================================================================================

$font-highlite: 'Fredoka One', sans-serif;
$font-sans-serif: Helvetica, Arial, sans-serif; // lighter, regular, bold
$font-base: $font-sans-serif;



// ===== COLOR SWATCHES (MASTER SET)
// ================================================================================

// Primary
$color-gray:		#333333;



// ===== SETTINGS & CONFIGURATION
// ================================================================================

// Default Font Settings
$default-font-size: 16px;
$default-font-size-html: 16px;
$default-font-color: $color-gray;
$default-font: $font-base;


